<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="infologfile"
            xsi:type="File"
            layout="${longdate} - ${level} - ${callsite} - ${message} - ${exception:format=tostring}"
            fileName="${basedir}/logging/log/compare_info.log"
            archiveFileName="${basedir}/logging/archives/info.{#####}.log"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"/>

    <target name="errorlogfile"
            xsi:type="File"
            fileName="${basedir}/logging/log/compare_error.log"
            archiveFileName="${basedir}/logging/archives/error.{#####}.log"
            layout="${longdate} - ${level} - ${callsite} - ${message} - ${exception:format=tostring}"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"/>

    <target name="debuglogfile"
            xsi:type="File"
            fileName="${basedir}/logging/log/compare_debug.log"
            archiveFileName="${basedir}/logging/archives/debug.{#####}.log"
            layout="${longdate} - ${level} - ${callsite} - ${message} - ${exception:format=tostring}"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"/>

    <target name="tracelogfile"
            xsi:type="File"
            fileName="${basedir}/logging/log/compare_trace.log"
            archiveFileName="${basedir}/logging/archives/trace.{#####}.log"
            layout="${longdate} - ${level} - ${callsite} - ${message} - ${exception:format=tostring}"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"/>


    <target name="logallfile"
            xsi:type="File"
            fileName="${basedir}/logging/log/compare_all.log"
            archiveFileName="${basedir}/logging/archives/all.{#####}.log"
            layout="${longdate} - ${level} - ${callsite} - ${message} - ${exception:format=tostring}"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"/>

    <target name="console"
            xsi:type="Console"
            layout="${longdate} - ${level} - ${callsite} - ${message}"/>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infologfile" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorlogfile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debuglogfile"/>
    <logger name="*" maxlevel="Trace" writeTo="tracelogfile"/>
    <logger name="*" writeTo="logallfile"/>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>